body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f8ff;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0078d7;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ff69b4;
}

.container, .containerV2 {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 60px;
    
}

.phoneme, .hiragana {
    font-size: 10em;
    margin: 20px 0;
    cursor: pointer;
    color: #333;
}

.hiragana {
    color: #0078d7;
    display: none;
}

.toggle-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggle-button:hover {
    background-color: #ff1493;
    transform: scale(1.1);
}

.toggle-button:active {
    transform: scale(0.95);
}

.toggle-button2 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggle-button2:hover {
    background-color: #ff1493;
    transform: scale(1.1);
}

.toggle-button2:active {
    transform: scale(0.95);
}

.wrapper {
    display: flex;  
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.result {
    font-size: 2rem;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 150px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    background-color: #f0f8ff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.class-button {
    flex: 1;
    margin: 0 5px;
    padding: 15px;
    font-size: 1.2rem;
    color: white;
    background-color: #0078d7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.class-button:hover {
    background-color: #005bb5;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .phoneme, .hiragana {
        font-size: 5em;
    }

    .navbar a {
        font-size: 1rem;
    }

    .result {
        font-size: 1.5rem;
    }

    .wrapper {
        flex-direction: column;
    }

    .toggle-button {
        width: 50px;
        height: 50px;
        font-size: 1.2rem;
    }

    .toggle-button2 {
        width: 50px;
        height: 50px;
        font-size: 1.2rem;
    }
}